#dynamic-content-right {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-background {
  position: relative;
  width: 100%;
  height: 100%;
}
.color-overlay {
  position: absolute;
  inset: 0;
  background: #14111f6d;
  z-index: 1;
  pointer-events: none;
}

#time-display {
  font-family: "Quicksand", sans-serif;
  position: relative;
  top: 20px;
}

.yt-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  filter: blur(4px);
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yt-title {
  font-size: 0.9rem;
  color: #d5d2f7;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.progress-container {
  width: 90%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #4d3bc2, #917ed4);
  width: 0%;
  transition: width 0.3s ease;
}

.player-controls {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.player-btn {
  background: transparent;
  border: none;
  color: #d5d2f7;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.player-btn:hover {
  transform: scale(1.15);
  color: #4d3bc2;
}
